@page
@model NewsLetter_OEM.Pages.Newsletter.IndexModel
@{
    ViewData["Title"] = "nyhetsbrev";
}
<div>
    <h1>Anmäl dig till våra nyhetsbrev</h1>

    <form method="post">
        <p>Förnamn: </p>
        <input type="text" asp-for="NewsLetter.FirstName" />
        <p>Efternamn:</p>
        <input type="text" asp-for="NewsLetter.LastName" />
        <p>E-mail</p>
        <input type="email" asp-for="NewsLetter.Email" />
        <span asp-validation-for="NewsLetter.Email"></span>
        <div>
            <span>Jag godkänner GDPR</span>
            <input type="checkbox" asp-for="NewsLetter.approvesGDPR" />
        </div>
        <span asp-validation-for="NewsLetter.approvesGDPR"></span>
        <button type="submit">Prenumerera på nyhetsbrev</button>
    </form>
</div>


@if (Model.ErrorMessage != null)
{
    <p>@Model.ErrorMessage</p>
}
